<h1>Microposts#new</h1>

    <%= form_for (@micropost) do |form| %>
      <%= form.label :content %>
      <%= form.text_field :content, :placeholder => "Write your post here!" %>
      <%= form.label :user_id %>
      <%= form.number_field :user_id, :placeholder => "User ID" %>
      <%= form.submit "Post it!" %>
    <% end %>

<%= link_to 'Back', microposts_path %>